body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background: url(../img/porfolio_5.jpg);   
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    z-index: 1; 

}


.logo {
    width: 180px; 
    height: auto;
    float: right;
    top: -100px;
    z-index: 100 ; 
    transition: right;
}

    
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    height: 3px;
    width: 15px;
    margin: 3px 0;
}

.nav  {
    background: #fff;/* Letras blancas */
    background-color: rgb(14, 58, 139); /* Fondo azul */ 
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
 /*   z-index: 1000; */
}

.nav-list {
    list-style: none;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

.nav-list li {
    display: inline;
    margin: 0 15px; 
}

.nav-list li a{
    display: inline;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    padding: 15px;
}

.nav-list li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 119, 238);
}

.section {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    
}


.home-section {
    background:  no-repeat center center/cover;
    color: #ffffff;
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.section.portfolio {
    width: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

section i{
    padding: 10px
}

.btn-wsp {
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}

.btn-wsp:hover{
    background: #20ba5a;
}

#porfolio h2 {
    color: #000000;
    background-color: #a3a3a3;
}

.portfolio-scroll {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}

.portfolio-item {
    flex: 0 0 auto;
    margin: 20px;
}
.portfolio-item img {
    width: 300px;
    height: 200px;
}



.portfolio-scroll img {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    justify-content: center;
}

#contacto h2{
    color: #000000;
    background-color: #a3a3a3;
    
}

#contact-form label {
    color: #000000;
    background-color: #a3a3a3;
}
#contact-form input[type="text"],
#contact-form textarea {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
    border: 1px solid #0074D9; 
    border-radius: 10px; 
    font-size: 16px; 
}


#quienesSomos{
    width: auto;
    height: auto;
    
}

#quienesSomos :hover{
    color: #000000;
    background-color: #a3a3a3;
}

#politicasYseguridad{
    width: auto;
    height: auto;
}

#politicasYseguridad :hover{
    color: #000000;
    background-color: #a3a3a3;
}

#preguntasFrecuentes{
    width: auto;
    height: auto;
}

#preguntasFrecuentes :hover{
    color: #000000;
    background-color: #a3a3a3;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: block;
    }

    .nav-list li {
        display: block;
        margin: 10px 0;
    }
}

.footer-content {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-content :hover{
    background-color: black;
}

/*carusel configuracion*/
.carousel-container {
    width: 80%; /* Ajusta el ancho del carrusel */
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
    width: 600px;
    height: 400px;
}


#prevBtn, #nextBtn {
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 20px; 
    background-color: #0074D9; 
    color: #fff; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #0056b3; 
}